@using WebAPP.ViewModels
@using Contracts.Services.Catalog
@using System.ComponentModel
@using WebAPP.Models;

<BSOffCanvas @ref="_offCanvas" Placement="Placement.Right" >
    <Header>Create Catalog</Header>
    <Content >
        <div class="d-grid gap-2">
            <BSLabel>Title</BSLabel>
            <BSInput InputType="InputType.Text" placeholder="Title" @bind-Value="CatalogState.Catalog.Title" IsDisabled="_creating"/>
            <BSLabel>Description</BSLabel>
            <BSInput InputType="InputType.TextArea" placeholder="Description" @bind-Value="CatalogState.Catalog.Description" IsDisabled="_creating"/>
            <BSButton MarginTop="Margins.Large" Color="BSColor.Dark" OnClick="CreateAsync" IsDisabled="_creating">
                @if (_creating)
                {
                    <BSSpinner Size="Size.Small" Color="BSColor.Light"/>
                }
                else
                {
                    <p style="margin: auto">Create</p>
                }
            </BSButton>
        </div>
    </Content>
</BSOffCanvas>

@code {

    [CascadingParameter] Catalogs CatalogState { get; set; }

    private readonly CancellationTokenSource _cancellationTokenSource = new();

    private BSOffCanvas _offCanvas;
    private bool _creating;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (CatalogState.CanvasIsVisible) await ShowAsync();
        else await HideAsync();

        base.OnAfterRender(firstRender);
    }

    private async Task CreateAsync()
    {
        _creating = true;
        
        await CatalogState.CreateCatalogAsync(); 
        
        _creating = false;
    }

    public Task ShowAsync()
        => _offCanvas.ShowAsync();

    public Task HideAsync()
        => _offCanvas.HideAsync();

}