@using WebAPP.ViewModels
@using Contracts.Services.Catalog
@using Contracts.Abstractions.Paging
@using WebAPP.Models
@using System.ComponentModel

@inject CatalogGridViewModel ViewModel

<div class="row row-cols-md-4">
    @foreach (var card in ViewModel.Cards)
    {
        <BSCol MarginTopAndBottom="Margins.ExtraSmall" Padding="Padding.None">
            <CatalogCard Catalog="card" OnDeleted="Delete"></CatalogCard>
        </BSCol>
    }
</div>
<BSPagination Align="Align.Center">
    <BSPaginationItem IsDisabled="@(ViewModel.Page.HasPrevious is false)" @onclick="MoveToPreviewAsync">Previous</BSPaginationItem>
    @for (var paging = 1; paging <= ViewModel.Page.Current; paging++)
    {
        var current = paging;
        <BSPaginationItem @onclick="() => MoveToPageAsync(current)">@current</BSPaginationItem>
    }
    <BSPaginationItem IsDisabled="@(ViewModel.Page.HasNext is false)" @onclick="MoveToNextAsync">Next</BSPaginationItem>
</BSPagination>


@code {
    
    private readonly CancellationTokenSource _cancellationTokenSource = new();

    protected override async Task OnInitializedAsync()
    {
        await ViewModel.FetchDataAsync(_cancellationTokenSource.Token);
        ViewModel.PropertyChanged += async (_, _) => { await InvokeAsync(StateHasChanged); };
        await base.OnInitializedAsync();
    }

    public void Add(CatalogModel card)
    {
        ViewModel.Add(card);
        StateHasChanged();
    }

    private void Delete(Guid id)
        => ViewModel.Delete(id);

    private async Task MoveToPageAsync(int page)
        => await ViewModel.MoveToPageAsync(page - 1, _cancellationTokenSource.Token);

    private async Task MoveToNextAsync()
        => await ViewModel.MoveToNextAsync(_cancellationTokenSource.Token);

    private async Task MoveToPreviewAsync()
        => await ViewModel.MoveToPreviewAsync(_cancellationTokenSource.Token);

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e) 
        => await InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        _cancellationTokenSource.Cancel();
        ViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
    
}