@page "/catalogs"

@using BlazorStrap
@using Fluxor
@using WebAPP.Store.Cataloging

@inject IDispatcher Dispatcher

<NavBar/>
<SearchBar/>
<CatalogCanvas/>

<BSContainer>
    <BSRow Align="Align.Center" Justify="Justify.Around">
        <BSCol Margin="Margins.Large">
            <h5 class="m-0">Catalogs</h5>
        </BSCol>
        <BSCol Column="1">
            <BSButton
                Class="bi bi-plus-lg"
                Color="BSColor.Light" style="font-size: 2.000rem;"
                OnClick="@StartCatalogCreation"/>
        </BSCol>
    </BSRow>
    <CatalogGrid/>
</BSContainer>

@code {
    private void StartCatalogCreation() => Dispatcher.Dispatch(new EventsV1.CatalogCreationStarted());
}