@page "/catalogs"

<NavBar/>
<SearchBar/>
<BSToaster/>

<CatalogCanvas @ref="_canvas" OnCreated="catalog => _grid.Add(catalog)"/>
<BSContainer>
    <BSRow Align="Align.Center" Justify="Justify.Around">
        <BSCol Margin="Margins.Large">
            <h5 class="m-0">Catalogs</h5>
        </BSCol>
        <BSCol Column="1">
            <BSButton Class="bi bi-plus-lg" Color="BSColor.Light" style="font-size: 2.000rem;" OnClick="_canvas.ShowAsync"/>
        </BSCol>
    </BSRow>
    <CatalogGrid @ref="_grid"/>
</BSContainer>

@code {
    CatalogCanvas _canvas;
    CatalogGrid _grid;
}